{% extends 'base.html' %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm table-responsive">
      <table class="table table-hover table-sm">
          <thead>
            <tr class='header'>
              <th scope="col"></th>
              <th scope="col">Name</th>
              <th scope="col">Team</th>
              <th scope="col">Goals</th>
              <th scope="col">Assists</th>
              <th scope="col">Clean Sheets</th>
              <th scope="col">Points</th>
            </tr>
          </thead>

          <tbody>
            <tr class= "header">
              <td class='position_fantasy' colspan="7">DEFENDERS</td>
            </tr>
            {% for player in fantasy_list_d %}
            <!-- {% if player.position == "Defender" %} -->
            <tr>
              <th scope="row">{{player.ranking}}</th>
              <td><a href="{% url 'league_site:player_detail' pk=player.pk %}">{{ player.name }}</a></td>   <!-- NEEDS ATTENTION -->
              <td><a href="{% url 'league_site:team_detail' pk=player.team.pk %}">{{ player.team.name }}</a></td>
              <td>{{ player.goals }}</td>
              <td>{{ player.assists }}</td>
              <td>{{ player.clean_sheets }}</td>
              <td><strong>{{ player.fantasy_points }}</strong></td>
            </tr>
            {% endif %}
            {% empty %}
              <li>No Players Yet.</li>
            {% endfor %}

            <tr class= "header">
              <td class='position_fantasy' colspan="7">MIDFIELDERS</td>
            </tr>
            {% for player in fantasy_list_m %}
            <!-- {% if player.position == "Midfield" %} -->
            <tr>
              <th scope="row">{{player.ranking}}</th>
              <td><a href="{% url 'league_site:player_detail' pk=player.pk %}">{{ player.name }}</a></td>   <!-- NEEDS ATTENTION - want to add link -->
              <td><a href="{% url 'league_site:team_detail' pk=player.team.pk %}">{{ player.team.name }}</a></td>
              <td>{{ player.goals }}</td>
              <td>{{ player.assists }}</td>
              <td>{{ player.clean_sheets }}</td>
              <td><strong>{{ player.fantasy_points }}</strong></td>
            </tr>
            {% endif %}
            {% empty %}
              <li>No Players Yet.</li>
            {% endfor %}

            <tr class= "header">
              <td class='position_fantasy' colspan="7">FORWARDS</td>
            </tr>
            {% for player in fantasy_list_f %}
            <!-- {% if player.position == "Forward" %} -->
            <tr>
              <th scope="row">{{player.ranking}}</th>
              <td><a href="{% url 'league_site:player_detail' pk=player.pk %}">{{ player.name }}</a></td>   <!-- NEEDS ATTENTION -->
              <td><a href="{% url 'league_site:team_detail' pk=player.team.pk %}">{{ player.team.name }}</a></td>
              <td>{{ player.goals }}</td>
              <td>{{ player.assists }}</td>
              <td>{{ player.clean_sheets }}</td>
              <td><strong>{{ player.fantasy_points }}</strong></td>
            </tr>
            {% endif %}
            {% empty %}
              <li>No Players Yet.</li>
            {% endfor %}

          </tbody>
        </table>
    </div>
  </div>



</div>

{% endblock %}
